* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    background-color: rgb(255, 157, 0);
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto; 
    width: 90%; 
    max-width: 600px;
    border: 2px solid black;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px;
}

#intro {
    color: white;
    text-align: center;
    font-size: 2em;
    margin: 10px 0 30px 0;
}

#options {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.img {
    height: 80%;
    width: 70%;
}

button {
    background-color: black;
    border: 2px solid white;
    border-radius: 20%;
    padding: 5px;
    height: 30%;
    width: 30%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; 
}

button:hover {
    background-color: white;
    color: black;
    transform: scale(1.05); 
}

#result {
    color: white;
    font-size: 1.6em;
    margin: 40px 0 20px 0;
    padding-left: 20px;
}

.move_img {
    height: 15%;
    width: 15%;
    margin: 0 5px; 
}

#moves {
    color: white;
    display: flex;
    justify-content: center;
}

#js-score {
    color: white;
    margin-top: 10%;
    padding-left: 20px;
    font-size: 1.2em;
}

#reset {
    width: 100%; 
    max-width: 200px;
    height: 40px; 
    border-radius: 10px;
    color: black;
    background-color: white;
    font-size: 1.2em;
    font-weight: 500;
    margin: 10px auto; 
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
    #container {
        width: 80%; 
    }

    #intro {
        font-size: 3em; 
    }

    #result {
        font-size: 2.5em; 
    }

    #js-score {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1025px) {
    #container {
        width: 60%; 
    }

    #intro {
        font-size: 3.5em; 
    }

    .img {
        height: 90%;
        width: 80%;
    }

    #result {
        font-size: 3em; 
    }

    #js-score {
        font-size: 1.8em; 
    }
}

@media screen and (max-width: 480px) {
    #container {
        width: 90%; 
    }

    #intro {
        font-size: 3em; 
    }

    .img {
        width: 100%; 
        height: auto; 
    }

    #result {
        font-size: 1.4em; 
    }

    .move_img {
        width: 15%;
    }

    #js-score {
        font-size: 1.2em; 
    }

    #reset {
        width: 100%; 
        max-width: 200px; 
        margin: 20px auto; 
    }
}
